<%- include('partials/header') %>

<div class="text-center d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <div class="container">
        <i class="fas fa-key fa-6x"></i>
        <h1 class="display-3">You have acces to this page</h1>
        <p class="secret-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <hr>
        <a href="/logout" class="btn btn-light btn-lg" role="button">Log Out</a>
        <a href="/submit" class="btn btn-dark btn-lg" role="button">Post</a>
    </div>
</div>

<%- include('partials/footer') %>
