<%- include('partials/header') %>

<div class="text-center d-flex flex-column min-vh-100 justify-content-center align-items-center">
<div class="container">
    <i class="fas fa-key fa-6x"></i><br><br>
    <a href="/register" class="btn btn-light btn-lg" role="button">Register</a>
    <a href="/login" class="btn btn-dark btn-lg" role="button">Login</a>
</div>

</div>

<%- include('partials/footer') %>