<%- include('partials/header') %>

<div class="container">
    <div class="text-center d-flex flex-column min-vh-100 justify-content-center align-items-center">
        <i class="fas fa-key fa-6x"></i><br><br>
      
        <form action="/submit" method="post">

            <div class="form-group">
                <input type="text" name="secret" class="form-control text-center" placeholder="Post here">
            </div>
            <button type="submit" class="btn btn-dark">Submit</button>
        </form>
    </div>
</div>

<%- include('partials/footer') %>
